.footer {
    margin-top: 70px;
    background-color: $color-footer-bg;
    text-align: center;
    padding: 50px 10px;

    @media screen and (min-width: $tablet-start) {
        margin-top: 90px;
    }
    @media screen and (min-width: $desktop) {
        padding: 70px 9.375vw 30px;
    }

    &__call-to-action {
        margin-bottom: 40px;

        @media screen and (min-width: $tablet-start) {
            margin-bottom: 51px;
        }
        @media screen and (min-width: $desktop) {
           text-align: left;
            margin-bottom: 25px;
        }
    }
    &__title {
        margin-bottom: 20px;
    }


    &__contact-wrapper {
        display: flex;
        flex-direction: column; 
    }

    &__phone{
        margin-bottom: 15px;
    }

    &__socials {
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-bottom: 40px;
        width: 269px;

        @media screen and (min-width: $desktop) {
            margin: 0;
        }

        & a {
            display: contents;
        }
    }

    &__wrapper {
        @media screen and (min-width: $desktop) {
            display: flex;
            justify-content: space-between;
            align-items: center; 
        }     
    }
}
